@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

#nprogress .bar {
  height: 8px !important;
}

.ql-editor {
  min-height: 300px;
}

.featured-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
.navbar {
  background-color: #1f4e5f;
  color: #ece2d0;
}

.logo {
  height: 75px;
  width: 20%;
}
.logo:hover{
 transform: scale(1.03);
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-text {
  font-family: Satisfy, cursive;
  letter-spacing: 2px;
}

.lgr-text {
  font-size: 1.5em;
  color: #ece2d0;
}
.text-hover:hover {
  color: black;
}
.mark {
  background-color: #1f4e5f;
  color: #ece2d0;
}
.search-bg{
  background-color: #1f4e5f;
}
.btn-primary {
  background-color: #ece2d0;
  color: #1f4e5f;
  border-color: #1f4e5f;
}
.btn-primary:hover {
  background-color: #f4e7d3;
  border-color: white;
  color: #1f4e5f;
  transform: scale(1.03);
}
.btn-primary:active {
  background-color: #1f4e5f !important;
  border-color: white;
  color: #1f4e5f;
  transform: scale(1.03);
}
.btn-outline-primary {
  border-color: #ece2d0;
  color: #1f4e5f;
}
.btn-outline-primary:hover {
  border-color: #1f4e5f;
  background-color: #ece2d0;
  color: #1f4e5f;
}
.btn-danger {
  background-color: #ece2d0;
  color: #1f4e5f;
  border-color: #1f4e5f;
}
.btn-danger:hover {
  background-color: #f4e7d3;
  border-color: white;
  color: #1f4e5f;
}
.btn-danger:active {
  background-color: #f4e7d3 !important;
  border-color: white;
  color: #1f4e5f;
 
}



.form-control:focus{
  border: 2px solid #ece2d0;
}

@media only screen and (max-width: 1256px) {
  .hidden {
    display: none;
  }
  .display-3 {
    font-size: 3.5em;
  }
  .banner {
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 2.5em;
  }
  .display-5{
    text-align: center;
  }
  .banner {
    height: 150px;
    padding-bottom: 10px;
  }
}
