.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: "Lora", serif;
  font-size: 12px;
}

.article-clean .intro {
  font-size: 12px;
  margin: 0 auto 30px;
}

.article-clean .intro .display-5 {
  font-family: "Lora", serif !important;
  color: inherit;
}
@media (min-width: 768px) {
  .article-clean .intro .display-5 {
    font-size: 3.5rem;
  }
}

.article-clean .intro p {
  color: #929292;
  font-size: 12px;
}

.article-clean .intro p .by {
  font-style: italic;
}

.article-clean .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.article-clean .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px;
}

.article-clean .intro img {
  margin-top: 20px;
}

.article-clean .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width: 768px) {
  .article-clean .text p {
    font-size: 16px;
  }
}

.article-clean .text h3 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

@media (min-width: 768px) {
  .article-clean .text h2 {
    font-size: 20px;
  }
}

.article-clean .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.article-clean .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}
.card a:visited {
  text-decoration: none;
  color: #333;
}
.card a:hover {
  text-decoration: none;
  color: #56c6c6;
}

.card-group .card .article-clean {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

@media (min-width: 768px) {
  .card-group .card .article-clean {
    font-size: 2.5rem;
  }
}

.card-group .card .article-clean .card-text {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

@media (min-width: 768px) {
  .card-group .card .article-clean .card-text {
    font-size: 2.5rem;
  }
}

div.mt-5 > div > div > h2 {
  font-size: 3.5rem;
  margin: 0 auto 30px;
}

@media (min-width: 768px) {
  div.mt-5 > div > div > h2 {
    font-size: 5rem;
  }
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
  color: #56c6c6;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
  color: #56c6c6;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer-basic .copyright a {
  text-decoration: none;
  color: #7f5be8;
}
.footer-basic .copyright a:hover {
  text-decoration: none;
  color: #56c6c6;
}

.list-group-item a:hover {
  color: #56c6c6 !important;
  text-decoration: none;
}

.lora {
  font-family: "Lora", serif;
}

.navigation-clean-search {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border-bottom: #56c6c6;
  margin: 0;
}

@media (min-width: 768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.navigation-clean-search .border {
  border-width: 5px !important;
  color: #56c6c6;
}

.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color: #56c6c6 !important;
}

.navigation-clean-search .navbar-toggler {
  border-color: #56c6c6 !important;
}

.navigation-clean-search .navbar-toggler:hover,
.navigation-clean-search .navbar-toggler:focus {
  background: none;
}

.navigation-clean-search .navbar-toggler {
  background-color: #56c6c6 !important;
}

.navigation-clean-search .navbar-collapse,
.navigation-clean-search .form-inline {
  border-top-color: #56c6c6 !important;
}

.navigation-clean-search .navbar-nav a.active,
.navigation-clean-search .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active:focus,
.navigation-clean-search.navbar-light .navbar-nav a.active,
.navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #56c6c6;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #56c6c6 !important;
  background-color: transparent;
}

.navigation-clean-search .action-button,
.navigation-clean-button .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover,
.navigation-clean-search .action-button:focus {
  background: #66d7d7;
}

.navigation-clean-search .form-inline label {
  color: #56c6c6;
}

.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.5s;
  font-style: italic;
}

@media (max-width: 767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}

.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #56c6c6;
}
